<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<%= gravatar_for @user %>


<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>